{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Recipe {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title"
               placeholder="Recipe title" class="form-control"
               value="{{ request.form['title'] }}"></input>
    </div>
    <div class="form-group">
        <label for="suitable_for">Feeds How many people</label>
        <input type="text" name="suitable_for"
               placeholder="Recipe feeds" class="form-control"
               value="{{ request.form['suitable_for'] }}"></input>
    </div>
    <div class="form-group">
        <label for="isveg">Is vegetarian?</label>
        <input type="text" name="isveg"
               placeholder="Mention Yes or No for is Vegetarian or not" class="form-control"
               value="{{ request.form['isveg'] }}"></input>
    </div>

    <div class="form-group">
        <label for="ingredients">Ingredients</label>
        <input type="text" name="ingredients"
               placeholder="List of ingredients" class="form-control"
               value="{{ request.form['ingredients'] }}"></input>
    </div>
    
    <div class="form-group">
        <label for="cookinginstructions">Cooking Instructions</label>
        <textarea name="cookinginstructions" placeholder="Mention cooking instructions here"
                  class="form-control">{{ request.form['cooking_instructions'] }}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}